h1 {
  width: 60%;
  margin-left: 10%;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  animation: freestyle 2s;
  margin-top: 10%;
}

@keyframes freestyle {
  0% {
    opacity: 0%;
    margin-top: 15%;
  }
  100% {
    opacity: 100%;
    margin-top: 10%;
  }
}
